<picture class="cs-picture">
  <source media="(max-width: 600px)" srcset="../../assets/images/pexels-eugenia-remark-5767088-33696811.jpg" />
  <source media="(min-width: 601px)" srcset="../../assets/images/pexels-eugenia-remark-5767088-33696811.jpg" />
  <img loading="lazy" decoding="async"
    src="assets/images/pexels-eugenia-remark-5767088-33696811.jpg"
    alt="My Local Image" width="324" height="467" />
</picture>

<img class="cs-graphic cs-brown" loading="lazy" decoding="async"
  src="../../assets/images/brown-lines2.svg" alt="graphic" width="100" height="98" aria-hidden="true" />
<img class="cs-graphic cs-peach" loading="lazy" decoding="async"
  src="../../assets/images/peach-blob.svg" alt="graphic" width="42" height="31" aria-hidden="true" />
<img class="cs-graphic cs-leaf" loading="lazy" decoding="async"
  src="../../assets/images/leaf-reverse.svg" alt="graphic" width="136" height="171" aria-hidden="true" />
<img class="cs-graphic cs-dots" loading="lazy" decoding="async"
  src="../../assets/images/beige-dots.svg" alt="graphic" width="159" height="88" aria-hidden="true" />
<img class="cs-graphic cs-lines" loading="lazy" decoding="async"
  src="../../assets/images/mesh-reverse.svg" alt="graphic" width="150" height="165" aria-hidden="true" />
